@charset "UTF-8";

@media  screen and (min-width: 768px) {
    header > h1{
        padding-top: 100px;
        padding-bottom: 30px;
    }
    header > menu > ul > li{
        display: inline-block;
        background-color: darkgray;
        width: 200px;
        margin: 10px;
        padding: 10px;
        border: 0px;
        border-radius: 10px;
    }
    #burguer{
        display: none;
    }
    menu{
        display: block;
    }
    main > section{
        padding: 20px;
    }
    main > section > p{
        width: 1000px;
        text-align: justify;
        margin: auto;
        padding: 20px;
        border-radius: 10px;
        font-size: 2em;
    }
}